
/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    border-radius: 15px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 15px;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #2196F3;
    color: white;
    border-radius: 15px;
}

/* Style the search box */
.search_bar input {
    float: left;
    padding: 6px;
    border: 1px solid grey;
    margin-top: 15px;
    margin-right: 0px;
    margin-left: 20px;
    font-size: 20px;
    width: 75%;
}

/* .search_bar .form-rounded-start {
    border-radius: 0.75rem;
}

.search_bar .form-rounded-end {
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
} */

/* Style the search button */
.search_bar button {
    float: left;
    width: 16%;
    padding: 6px;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 1% !important; 
    background: #2196F3;
    color: white;
    font-size: 20px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    border-radius: 0.75rem !important;
    cursor: pointer;
}
  
.search_bar button:hover {
    background: #0b7dda;
}
  
  /* Clear floats */
.search_bar::after {
    content: "";
    clear: both;
    display: table;
}

.form-rounded-start {
    border-top-left-radius: 0.75rem !important;
    border-bottom-left-radius: 0.75rem !important;
}

.form-rounded-end {
    border-top-right-radius: 0.75rem !important;
    border-bottom-right-radius: 0.75rem !important;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {  
        float: none;
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}


/* .results {
    font-size: 20px;
    text-align: left;
} */

.list-group-item img {
    max-width: 50%;
    max-height: 50%;
    margin-top: 4px;
    margin-bottom: 4px;
} 

.list-group-item h3 {
    font-size: 20px;
    text-align: left;
}




/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 10px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }